version: '3.8'

services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: marvel-champions-web
    ports:
      - "3000:80"
    environment:
      - NODE_ENV=production
    networks:
      - marvel-champions-network

networks:
  marvel-champions-network:
    driver: bridge
